
<div>
  <h2>ngx webcam example basic</h2>

  <div class="cam-panel">
    <div id="previewPanel1" class="snapshot" *ngIf="webcamImage">
      <img class="imagePreview" [src]="webcamImage.imageAsDataUrl" />
    </div>
    <div id="webcam1">
      <webcam
      [width]="640"
      [height]="480"
      [trigger]="triggerObservable"
      (imageCapture)="handleImage($event)"
    >
    </webcam>
    </div>
    <hr />
    <div class="buttonlist">
      <button class="actionBtn" (click)="triggerSnapshot()">
        <div>Click Here and take the Shot</div>
      </button>
      <button class="actionBtn" (click)="clearPreview()">
        <div>Clear Preview</div>
      </button>
    </div>
  </div>
</div>
