h2 {
  text-align: center;
  text-decoration: underline;
  font-size: x-large;
}

.cam-panel {
  width: 700px;
  margin-left:auto;
  margin-right:auto;
  align-content: center;
}

.imagePreview, #webcam1{
  height: 480px;
  width: 640px;
  margin-left:auto;
  margin-right:auto;
  display: flex;
}

.actionBtn {
  font-size:larger;
  margin-left:auto;
  margin-right:auto;
  padding:10px;
  background-color: rgba(6, 255, 181, 0.9);
  border:none;
}


.buttonlist {
  display: grid;
  grid-template-columns: auto auto;
}